@font-face {
    font-family: CascadiaCode-Regular;
    src: url('/fonts/CascadiaCode-Regular.otf');
}

* {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

body {
    font-family: "CascadiaCode-Regular";
    background: rgb(38, 38, 38);
    margin: 0;
}

.title {
    margin-top: 220px;
    color: white;
}

.home {
    color: white;
    background: #551a8b;
    display: inline-flex;
    margin-top: 2ch;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    border-radius: 5px;
}

.home:hover {
    transform: translateY(3px);
    background: #451770;
}