@font-face {
    font-family: CascadiaCode-Regular;
    src: url('/fonts/CascadiaCode-Regular.otf');
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.element::-webkit-scrollbar {
    width: 0 !important
}

* {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

body {
    font-family: "CascadiaCode-Regular";
    background: rgb(38, 38, 38);
    margin: 0;
}

.tagline {
    margin-top: 220px;
    color: white;
}

.links {
    display: inline-block;
    width: 500px;
    color: white;
}

.links a {
    text-decoration: none;
    color: #753fa8;
    font-weight: bold;
    font-size: 16px;
    margin: 4%;
}

.links a:hover {
    color: #451770;
    font-size: 18px;
}

.BBButton {
    color: white;
    background: #551a8b;
    display: inline-table;
    margin-top: 2ch;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.BBButton:hover {
    transform: translateY(3px);
    background: #451770;
}

.aboutButton {
    color: white;
    background: #551a8b;
    display: inline-flex;
    padding: 6px;
    margin-top: 20px;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.aboutButton:hover {
    transform: translateY(1px);
    background: #451770;
    display: inline-flex;
    margin-top: 20px;
    padding-top: 6px;
    padding-right: 22px;
    padding-left: 22px;
    padding-bottom: 6px;
}

section {
    color: white;
    margin-top: 700px;
    height: 650px;
    text-align: center;
}

section about {
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

footer {
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0pt;
}