@font-face {
    font-family: CascadiaCode-Regular;
    src: url('/fonts/CascadiaCode-Regular.otf');
}

* {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}


body {
    font-family: "CascadiaCode-Regular";
    background: rgb(38, 38, 38);
    margin: 0;
}

.title {
    text-align: center;
    margin-top: 220px;
    color: white;
}

.links {
    display: inline;
}

.links a {
    text-decoration: none;
    color: white;
    background: #551a8b;
    font-weight: bold;
    font-size: 16px;
    margin: 1%;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.links a:hover {
    font-size: 18px;
}

.home {
    color: #551a8b;
    display: inline-flex;
    margin-top: 3ch;
    cursor: pointer;
    border-radius: 5px;
}

.home:hover {
    color: #451770;
    transform: translateY(3px);
}